*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #222;
}

/* header section */

header {
  width: 100%;
  height: 800px;
  background-image: url(../img/image_1.jpg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
  position: relative;

}

.head-cont {
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-bar ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin: 30px;
  margin-top: 50px;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.head-text {
  text-align: center;
  padding-top: 250px;
  color: rgb(255, 255, 255);
}

.head-text p {
  font-size: 50px;

}

.head-text h1 {
  font-size: 70px;
}

.head-text h5 {
  color: rgb(141, 135, 135);
}

/* header section end */

/* portfolio section start */
#PORTFOLIO {
  width: 100%;
  height: 210vh;

}

.head-box {
  text-align: center;
  color: white;
  font-size: 28px;
  padding-top: 90px;

}

.nav-box ul {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.nav-box ul a {
  text-decoration: none;
  color: white;
  margin: 20px;
}

.card-text {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

.card-boxing {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
  padding: 10px 80px 0px 80px;
}

.card1 img {
  width: 84%;
  height: 350px;
  margin-left: 30px;
}

.nav-box ul li:first-child a {
  color: rgb(173, 173, 50);
}

/* portfolio section end */

/* section resume start */
.item-cont {
  max-width: 100%;
  height: 200vh;
  color: white;
}

.item-head h6 {
  text-align: center;
  font-size: 40px;
}

.item-name {
  width: 60%;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 0px 110px;
}

.item-boxs {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  padding: 40px 110px 110px 110px;

}

.item-box {
  width: 550px;
  height: 220px;
  background-color: #3d3c3c;
  border-radius: 10px;
}

.item-text {
  width: 570px;
  padding: 35px;
}

.item-text span {
  font-size: 12px;
  font-weight: 900;
}

.item-text h3 {
  font-size: 19px;
  color: rgb(173, 173, 50);
}

.item-text h6,
p {
  color: rgba(255, 255, 255, 0.3);
}

/* section resume end */

/*   section about start */
.section-heading {
  color: white;
}

.btn {
  border-radius: 50px;
  border: none;
}

.smoothscroll {
  background-color: rgb(173, 173, 50);
}

/* section about end */

.cart-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img-text {
  width: 450px;
  height: 180px;
  margin-left: 30px;
  background-color: #3d3c3c;
  border-radius: 5px;
}

.img-text::before {
  content: "";
  z-index: 2;
  position: absolute;
  left: 137px;
  border-width: 0 15px 20px 0;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

.text-link span a {
  text-decoration: none;
  color: rgb(173, 173, 50);
}

.ro {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 10px;
  padding: 50px;
}

























/*# sourceMappingURL=main.css.map */